{
    "extends": [
        "@spothero",
        "plugin:prettier/recommended",
        "prettier/babel",
        "prettier/react"
    ],
    "globals": {
        "SETTINGS_CONFIG": true,
        "TASK_CONFIG": true
    }
}
